*.riscv
*.host
*.o
*.dump
*.out
*.hex
*.bak
tags
.svproject
.settings
.project
*副本
*.text*
Memo_riscv32imc.txt
.vscode

//backup
rtl_200531_2cj2cb/
rtl_200601_1cj2cb/

//temp:
googletest/
llvm-project/
riscv-pk/
README_v200331.md

