*.riscv
*.host
*.o
*.om
*.dump
*.out
*.hex
*.bak
bin2Mem
bin2c
*.bin
*.data
*.data2
*.data3
tags
.svproject
.project
obj_dir
logs
*_old*
files.f
try1*
inst_rom.h

dhrystone/
dump
inst_rom.c
inst_rom.data.full
output
sim/rv32ui*
sim/spike_no_pk/benchmarks_proc/
